@import url("./ModalCmp/ModalCmp.css");

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Molengo" !important;
}

body {
  background: #ffffff;
  font-family: "Molengo" !important;
}
